<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Client LastName</th>
                <th>Client Email</th>
                <th>Client Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.cid }}</td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.email}}</td>
                <td>{{client.telephone}}</td>
                <td>
                    <a href="/edit/{{ client.id }}">Edit</a>
                    <a href="/delete/{{client.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:black;" href="/clients">Add New Record</a></button>
</body>

</html>