<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Quantite</th>
                <th>Product Categorie</th>
                <th>Product Price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{ produit.libelle }}</td>
                <td>{{produit.quantite}}</td>
                <td>{{produit.categorie}}</td>
                <td>{{produit.prix}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:black;" href="/produits">Add New Record</a></button>
</body>

</html>