<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiffre d'affaire Record </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Chiffre D'affaire</th>
                <th>periode</th>
            </tr>
        </thead>
        <tbody>
            {% for Chiffre_Affaire in Chiffres_Affaire %}
            <tr>
                <td>{{ Chiffre_Affaire.ca }}</td>
                <td>{{Chiffre_Affaire.periode}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>

</html>
