<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>

<body>
    <form method="POST" action="/fournisseurs">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Enter Details</h3>
            </p>
            <div>
                <p>Nom de fournisseur:</p>{{ form.nom_fournisseur }}
            </div>
            <div>
                <p>Date d'emprunt:</p>{{ form.date_emprunt }}
            </div>
            <div>
                <p>Valeur de Dette:</p>{{ form.Valeur_Dette }}
            </div>
            <div>
                <p>Date de remboursement:</p>{{ form.date_De_remboursement }}
            </div>
            <div>
                <br>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>




