<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="v1_2">
            <div class="v1_5 p m"></div>
            <div class="v1_6 p m"></div>
            <div class="v1_7 p m"></div>
            <div class="v1_3"></div>
            <div class="v1_17 p m"></div>
            <div class="v1_18 p m"></div>
            <div class="v1_19 p m"></div>
            <div class="v1_20 p m"></div>
            <div class="v1_21 p m"></div>
            <div class="v1_22 p m"></div>
            <div class="v1_23 p m"></div>
            <div class="v1_24 p m"></div>
            <div class="v1_25 p m"></div>
            <span class="v1_26 p m">E-épicier</span>
            <span class="v1_28 p m">Start Your Grocery With Us</span>
            <a href="{% url 'signup'%}"><span class="v1_34 p m">create an account </span></a>
            <a href="{% url 'login'%}"><span class="v1_36 p m" >Login</span></a>
            <div class="v1_37 p m"></div>
        </div>
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    </body>
</html>